<?xml version="1.0"?>
<!--
  ~ @copyright Copyright (c) 2018 - 2019 adam@intw.pl
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ForMage_Slider::slider" title="Slider" module="ForMage_Slider" sortOrder="110" resource="ForMage_Slider::slider" parent="ForMage::base"/>
        <add id="ForMage_Slider::grid" title="Manage" module="ForMage_Slider" sortOrder="10" action="slider/slide/index" resource="ForMage_Slider::grid" parent="ForMage_Slider::slider"/>
        <add id="ForMage_Slider::add" title="Add" module="ForMage_Slider" sortOrder="10" action="slider/slide/new" resource="ForMage_Slider::edit" parent="ForMage_Slider::slider"/>
    </menu>
</config>