<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wholesaleimport" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wholesale Import</label>
            <tab>4Mage</tab>
            <resource>ForMage_WholesaleImport::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="import_images_file_dir" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import Images File Dir</label>
                </field>
                <field id="import_multiple_value_separator" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import Multiple Value Separator</label>
                </field>
            </group>
        </section>
    </system>
</config>